@font-face {
    font-family: 'DancingScript';
    src: url('Dancing_Script/DancingScript-VariableFont_wght.ttf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

.gameOverModal::backdrop {
    backdrop-filter: blur(50px);
    opacity: 0.75;
}

.gameOverModal{
    padding: unset;
}

.modalStyle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 80vw;
    overflow: hidden;
    background: radial-gradient(circle at center, grey, black);
}

.modalContents{
    font-family: 'DancingScript', sans-serif;
    background-color: rgba(195, 195, 195, 0.42);
    padding: 20px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #bfbfbf;
    text-shadow: black 3px 3px;
    box-shadow: 0 0 10px 5px #878787;
}

.modalContents h2 {
    font-size: 4rem;
    margin: 0
}

.score {
    font-size: 2.5rem;
}

.score_intro {
    font-size: 2.5rem;
    height: 2rem;
    margin: 0 0 2rem 0;
}

.modalContents button {
    font-family: DancingScript, sans-serif;
    background-color: transparent;
    font-size: 1.5rem;
    text-shadow: black 3px 3px;
    border: none;
    padding: 0.4rem 1rem;
    color: white;
    cursor: pointer;
}

.timer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.timerDisplay {
    margin-left: 30px;
}

.playButton{
    margin-left: 20px;
}
