@font-face {
    font-family: 'NeueMontrealBook';
    src: url('fonts/PPNeueMontreal-Book.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'NeueMontrealItalic';
    src: url('fonts/PPNeueMontreal-Italic.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'NeueMontrealMedium';
    src: url('fonts/PPNeueMontreal-Medium.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'NeueMontrealSemiBoldItalic';
    src: url('fonts/PPNeueMontreal-SemiBolditalic.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'NeueMontrealThin';
    src: url('fonts/PPNeueMontreal-Thin.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'GoshaSansBold';
    src: url('fonts/PPGoshaSans-Bold.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'GoshaSansRegular';
    src: url('fonts/PPGoshaSans-Regular.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

body {
    font-family: GoshaSansBold, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #661D09;
    color: #FFF;
}

.topContainer {
    display: flex;
    justify-content: center;
    align-content: center;
}

.appTitle {
    font-family: GoshaSansBold, sans-serif;
}

.instructions p {
    font-family: GoshaSansBold, sans-serif;
}

.instructionsButton {
    font-family: GoshaSansBold, sans-serif;
}

.instructions .closeButton {
    font-family: GoshaSansBold, sans-serif;
    width: 5rem;
    border: solid black 1px;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: .5rem;
}

.play {
    font-family: GoshaSansBold, sans-serif;
}

.modalContainer {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.instructions{
    font-family: GoshaSansBold, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
    width: 50%;
    padding: 2rem;
}

.gameButtons {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background-color: #661D09;
    color: #FFF;
}

.gameButtons:hover {
    cursor: pointer;
}

.scoreSection {
    width: 100px;
    height: 100px;
}

.timerDummy {
    width: 100px;
    height: 100px;
}

.scoreBox {
    font-size: 2rem;
    text-align: center;
}

.scoreLabel {
    text-align: center;
}

.gameScreen {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top:3rem;
}

.quoteContainer {
    margin: 2rem 3rem 4rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
}

.titleContainer {
    display:flex;
    flex-direction: row;
    gap: 4rem;
}

.quoteContainer p {
    font-family: 'NeueMontrealItalic', sans-serif;
    text-align: center;
    font-size: 1.5rem;
}

.titleContainer button {
    padding: 1rem;
    border-radius: 10%;
    filter: drop-shadow(8px 5px 10px #000000);
    width: 13rem;
}

button:hover {
    cursor: pointer;
}

.hintContainer button {
    margin-top: 4rem;
    width: 8rem;
    background-color: #661D09;
    color: #FFFFFF;
    padding: 1rem;
    border-radius: 10%;
    filter: drop-shadow(8px 5px 10px #000000);
}

.hintContainer button:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.hide_table {
    display: none;
}

@media (max-width: 600px) {
    .instructions p {
        font-size: 0.7rem;
    }

    .instructions {
        width: 68.5%;
    }

    .gameScreen {
        flex-direction: column;
        padding-top: 1rem;
    }

    .titleContainer {
        flex-direction: column;
    }

    .quoteContainer p {
        font-size: 1.2rem;
    }
}

@font-face {
    font-family: 'DancingScript';
    src: url('fonts/DancingScript-VariableFont_wght.ttf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

.gameOverModal::backdrop {
    backdrop-filter: blur(50px);
    opacity: 0.75;
}

.gameOverModal{
    padding: unset;
}

.modalStyle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 81vh;
    width: 81vw;
    overflow: hidden;
    background: radial-gradient(circle at center, grey, black);
}

.modalContents{
    font-family: 'DancingScript', sans-serif;
    background-color: rgba(195, 195, 195, 0.42);
    padding: 20px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #bfbfbf;
    text-shadow: black 3px 3px;
    box-shadow: 0 0 10px 5px #878787;
}

.modalContents h2 {
    font-size: 4rem;
    margin: 0
}

.score {
    font-size: 2.5rem;
}

.score_intro {
    font-size: 2.5rem;
    height: 2rem;
    margin: 0 0 2rem 0;
}

.modalContents button {
    font-family: DancingScript, sans-serif;
    background-color: transparent;
    font-size: 1.5rem;
    text-shadow: black 3px 3px;
    border: none;
    padding: 0.4rem 1rem;
    color: white;
    cursor: pointer;
}

.timer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.timerDisplay {
    margin-left: 30px;
}

.playButton{
    margin-left: 20px;
}

